/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

/* REMOVE SCROLLBAR */
html {
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

body{
  font-family:'Poppins',sans-serif;
  background:#18182d;
  color:white;
}

/* Layout */
.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

.section{
  padding:140px 0 100px 0;
}

.center{
  text-align:center;
}

/* Navbar */
header{
  position:fixed;
  width:100%;
  background:#18182d;
  border-bottom:1px solid rgba(255,255,255,0.1);
  z-index:1000;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 0;
}

.logo{
  font-weight:600;
  letter-spacing:2px;
}

.desktop-nav{
  display:flex;
  gap:40px;
}

.desktop-nav a{
  text-decoration:none;
  color:rgba(255,255,255,0.7);
}

.desktop-nav a:hover{
  color:white;
}

/* Mobile */
.menu-toggle{
  display:none;
  flex-direction:column;
  gap:5px;
  cursor:pointer;
}

.menu-toggle span{
  width:25px;
  height:2px;
  background:white;
}

.mobile-nav{
  display:none;
  flex-direction:column;
  padding:20px;
  background:#18182d;
}

.mobile-nav a{
  padding:10px 0;
  color:white;
  text-decoration:none;
}

/* Hero */
.hero h1{
  font-size:56px;
  line-height:1.1;
  transition:0.2s ease;
}

.hero p{
  margin-top:25px;
  color:rgba(255,255,255,0.6);
}

/* About */
.about-text{
  margin-top:25px;
  color:rgba(255,255,255,0.6);
  max-width:700px;
  margin-left:auto;
  margin-right:auto;
}

/* Services */
.grid{
  margin-top:60px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
}

.card{
  background:rgba(255,255,255,0.05);
  padding:40px;
  border-radius:20px;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

/* Contact */
.form{
  margin-top:40px;
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
}

.form input,
.form textarea{
  width:100%;
  padding:15px;
  margin-bottom:20px;
  background:transparent;
  border:1px solid rgba(255,255,255,0.2);
  color:white;
  border-radius:8px;
}

.form button{
  width:100%;
  padding:15px;
  border:none;
  background:white;
  color:#18182d;
  font-weight:600;
  cursor:pointer;
}

/* Footer */
footer{
  text-align:center;
  padding:40px 0;
  border-top:1px solid rgba(255,255,255,0.1);
  color:rgba(255,255,255,0.4);
}

/* Responsive */
@media(max-width:768px){
  .desktop-nav{
    display:none;
  }

  .menu-toggle{
    display:flex;
  }
}
